body {
    width: 100%;
    height: 100vh;
    margin: 0;
}

h1, .description {
    text-align: center;
}

.characterData select, .characterData image {
    display: block;
}

.characterData, .buttonSpace {
    display: inline;
}

.controls {
    margin: 0 auto;
    background-color: green;
}

.classData {
    margin: 0 auto;
}

.classData p {
    display: inline;
}

.statWindow {
    margin: 0 auto;
    margin-top: 5px;
    width: 40%;
    background-color: blue;
    padding: 10px;
}

.statLine p {
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
}

.leftStat, .statLabel {
    text-align: left;
    width: 20%;
}

.rightStat {
    text-align: right;
}

.modifierSpace {
    margin: 0 auto;
    margin-top: 20px;
}
