body {
    width: 100%;
    height: 100vh;
    margin: 0;
}

h1, .description {
    text-align: center;
}

.characterData {
    margin-left: 60px;
    background-color: yellow;
    padding-top: 10px;
    height: 100%;
}

.characterData image {
    display: block;
    margin-top: 50px;
}

.characterData select {
    margin-top: 10px;
}

.characterData select, .characterData label {
    display: inline-block;
}

.characterData, .buttonSpace {
    display: inline-block;
    width: 40%;
}

.buttonSpace {
    align-content: center;
    margin-bottom: 60px;
    background-color: yellow;
}

.buttonSpace button {
    width: 49%;
    height: 50px;
}

.controls {
    margin: 0 auto;
    background-color: purple;
    width: 60%;
    height: 190px;
    max-height: 190px;
}

.classData {
    margin: 0 auto;
    width: 40%;
    padding: 10px;
    background-color: green;
    margin-top: 5px;
}

.classData p {
    display: inline-block;
    width: 50%;
}

.level {
    text-align: right;
}

.statWindow {
    margin: 0 auto;
    width: 40%;
    background-color: blue;
    padding: 10px;
}

.statLine p {
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
}

.leftStat, .statLabel {
    text-align: left;
    width: 20%;
}

.statLabel {
    margin-left: 70px;
}

.rightStat {
    text-align: right;
}

.modifierSpace {
    margin: 0 auto;
    margin-top: 20px;
    width: 95%;
    background-color: red;
}

.modifierSpace p {
    text-align: center;
}
