body {
    background-color: rgb(209, 116, 61);
}

h1, h2, p {
    text-align: center;
}

.simInfo {
    background-color: white;
    margin: 0 auto;
    margin-top: 20px;
    width: 40%;
}

.levelUpSim {
    margin-left: 180px;
    margin-top: 5px;
    height: 50px;
    background-color: rgb(209, 116, 61);
    color: white;
}
